{% extends "base.html" %}
{% block content %}
<h2>Welcome to YouTube SRT Generator</h2>
<p>Use the tabs to navigate between features.</p>
<br><br>
<h4>How to Use this tool</h4>
<p>Stage 1: Generate Subtitle from Mp3 use <a href="/srt_gen.html">SRT GEN</a></p>
<p>Stage 2: Merge SRT with Mp3 to Create Mp4 as a Test Video <a href="/srt_to_mp4.html">SRT To Mp4</a></p>
<p>Stage 3: Use Your Test Video and SRT File and read or Re-Write to make some changes if you need <a href="/srt_edit.html">SRT Editor</a></p>
<p>Stage 4: Now You Can Translate Your Final Version of SRT into Any Other Language like German, Chinese, etc <a href="/srt_translate.html">SRT Translator</a></p>

{% endblock %}
