{% extends "base.html" %}
{% block content %}
<h2>SRT GEN</h2>
<p>To Add More Language Visit <a href="https://www.assemblyai.com/docs/concepts/supported-languages">Assambly Ai Language</a></p>
<form action="{{ url_for('srt_gen') }}" method="post" enctype="multipart/form-data">
    <label for="file">Upload MP3 File:</label>
    <input type="file" name="file" required>
    <label for="language">Select Language:</label>
    <select name="language" required>
        <option value="en">Global English</option>
        <option value="hi">Hindi</option>
        <option value="en_au">Australian English</option>
        <option value="en_uk">British English</option>
        <!-- Add more options as needed -->
    </select>
    <button type="submit">Generate SRT</button>
</form>
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}
{% endblock %}
